@import "../../../themes/variables.scss";
.row.main{
    height: 85vh;
    padding-left: 100px;
}
.col-min{
    max-width: max-content !important;
    color: $Purple;
}
.discription{
    padding-top: 25px;
}
.col-5 svg{
    width:211px;
    height:292px;
    transform: scale(1.5);
}
.navbar{
    box-shadow: 10px 10px 10px 10px #fff !important;
}
