<div class="row">
    <div class="col flex-column d-flex justify-content-center px-5">
        <div>
            <div class="name-title">
                <h3>Hello! I am</h3>
                <h1 class="name">PavanGokul Br</h1>
                <h1 class="title">Software Engineer | UI/UX Designer</h1>
            </div>
            <div class="discription">
                <p>
                    i'm a [fairly decent] human from bangalore, india who loves problem solving.i'm currently building awesome stuff at <span><a class="text-purple" target="_blank" href="https://thettg.com/">Technology Transformation Group</a></span>. you can find my <span><a class="text-purple" target="_blank" href="../../../assets/documents/RESUME PAVAN GOKUL.BR.pdf">resume here</a></span><br>i go by <span><a class="text-purple" target="_blank" href="https://www.google.com/search?q=pavangokul">@pavangokul</a></span> on the interwebs.
                </p>
            </div>
        </div>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="272" height="262" viewBox="0 0 272 262" fill="none">
            <path d="M0.5 193.5H195L267 246L73.5 247L0.5 193.5Z" fill="#8363A4"/>
            <path d="M93.5 193.5H203L272 247H166.5L93.5 193.5Z" fill="#232637"/>
            <path d="M0.5 0.5L73 53.5V247.5L0.5 194V0.5Z" fill="#232637"/>
            <path d="M194.5 149.5L267 202.5V246.5L194.5 193V149.5Z" fill="#151720"/>
            <path d="M184.5 203L266.5 201.5V259.5C266.5 260.605 265.605 261.5 264.5 261.5H186.5C185.395 261.5 184.5 260.605 184.5 259.5V203Z" fill="#C5A7E4"/>
            <path d="M0 0H190.915C193.245 0 195.514 0.739488 197.396 2.11192L261.584 48.9155C263.144 50.0528 262.346 52.5215 260.416 52.5314L73 53.5L0 0Z" fill="#8363A4"/>
            <path d="M113.965 151.307C113.185 150.735 113.59 149.5 114.556 149.5H195L267 202L184.5 203L113.965 151.307Z" fill="#8363A4"/>
          </svg>
    </div>
</div>
