<div class="row">
    <div class="col flex-column d-flex justify-content-center px-5">
        <div>
            <div class="name-title">
                <h3>Hello! I am</h3>
                <h1 class="name">PavanGokul Br</h1>
                <h1 class="title">Software Engineer | UI/UX Designer</h1>
            </div>
            <div class="discription">
                <p>
                    i'm a [fairly decent] human from bangalore, india who loves problem solving.i'm currently building awesome stuff at <span><a class="text-purple" target="_blank" href="https://thettg.com/">Technology Transformation Group</a></span>. you can find my <span><a class="text-purple" target="_blank" href="../../../assets/documents/RESUME PAVAN GOKUL.BR.pdf">resume here</a></span><br>i go by <span><a class="text-purple" target="_blank" href="https://www.google.com/search?q=pavangokul">@pavangokul</a></span> on the interwebs.
                </p>
            </div>
        </div>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
        <svg viewBox="0 0 211 292" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1.73744L75.6977 56.7524V289.244C75.6977 291.551 72.8071 292.833 70.8558 291.392L3.41586 241.594C2.00948 240.556 1.18726 238.986 1.17894 237.324L0 1.73744Z" fill="#232637"/>
            <path d="M75.6977 56.7524L0 1.73744L127.906 0.00160657C131.628 -0.0489055 135.254 1.09307 138.167 3.23303L211 56.7524L75.6977 56.7524Z" fill="#8363A4"/>
            <path d="M75.6977 56.7524L211 56.7524L211 161.281C211 166.446 206.463 170.633 200.867 170.633H75.6977L75.6977 56.7524Z" fill="#C5A7E4"/>
            </svg>
    </div>
</div>
