@import "../../../../../styles.scss";

.nav-link,.text-purple{
    color:$Slate !important;
}
.text-purple:hover{
    color:$Purple !important;
}
.text-purple.active{
    color: $Purple !important;
}

.navbar-brand img{
    height: auto;
    width: 20%;
}