
.text-purple{
    color: $Purple;
}

a.link{
    color: $Slate;
}

a.link:hover{
    color: $Purple;
}

.nav-link,.text-link{
    color:$Slate !important;
}

.text-link:hover{
    color:$Purple !important;
    animation: underline 0.2s forwards;
}

.text-link.active{
    color: $Purple !important;
}
.navbar,p{
    font-family: 'SF Mono', Courier, monospace;
}
