@import "./variables.scss";
.text-purple{
    color: $Purple;
}


a.link{
    color: $Slate;
}
a.link:hover{
    color: $Purple;
}
.nav-link,.text-link{
    color:$Slate !important;
}
.text-link:hover{
    color:$Purple !important;
}
.text-link.active{
    color: $Purple !important;
}
